/*p {
  background-color: rgb(255, 167, 167);
}

#primeiroId {
  color: hsl(241, 91%, 45%);
  font-size: 36px
}

#segundoId {
  background-color: #88E788;
  font-weight: bold;
  font-size: 24px
}*/

/* Correção */

.odd {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

#four {
  background-color: hsl(120, 100%, 75%);
  font-weight: bold;
}