p {
  background-color: rgb(255, 167, 167);
}

#primeiroId {
  color: hsl(241, 91%, 45%);
  font-size: 36px
}

#segundoId {
  background-color: #88E788;
  font-weight: bold;
  font-size: 24px
}